<h1 class="m-3">Stupid Coaching</h1>
<div class="m-3 px-3 answer-el">
  <%= @your_question %><br>
  <%= "- You" %>
</div>
<div class="m-3 px-3 answer-el" id="answer-coach">
  <%= @answer %><br>
  <%= "- Your coach" %>
</div>
<br>
<br>
<div class="m-3">
<%= link_to "Ask a new question", ask_path %>
</div>
